[Unit]
Description=Prometheus Unbound Exporter

[Service]
User=prometheus
EnvironmentFile=/etc/default/prometheus-unbound-exporter
ExecStart=/usr/sbin/unbound_exporter $OPTIONS

[Install]
WantedBy=multi-user.target
